body{
    color: white;
   background-image: url("./rr1.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-left: 15px;
}
h1{
    color: red;
}